@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Protest+Strike&display=swap');

:root{
    --fonte-principal:"Protest Strike", sans-serif;
    --fonte-secundaria:"DM Sans", sans-serif;
    --space-cadet: #2b2d42ff;
    --cool-gray: #8d99aeff;
    --antiflash-white: #edf2f4ff;
    --red-pantone: #ef233cff;
    --fire-engine-red: #d90429ff;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--space-cadet);
}

h1{
 color: var(--antiflash-white);
 

}

